.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.decoration-none {
  text-align: none;
}

.decoration-underline {
  text-align: underline;
}

.decoration-line-through {
  text-align: line-through;
}

.text-lowercase {
  text-align: lowercase;
}

.text-uppercase {
  text-align: uppercase;
}

.text-capitalize {
  text-align: capitalize;
}

.j-left {
  justify-content: left;
}

.j-center {
  justify-content: center;
}

.j-right {
  justify-content: right;
}

.p-static {
  justify-content: static;
}

.p-relative {
  justify-content: relative;
}

.p-absolute {
  justify-content: absolute;
}

.p-fixed {
  justify-content: fixed;
}

.p-sticky {
  justify-content: sticky;
}

.d-flex {
  justify-content: flex;
}

.d-inline {
  justify-content: inline;
}

.d-inline-block {
  justify-content: inline-block;
}

.d-inline-flex {
  justify-content: inline-flex;
}

.d-block {
  justify-content: block;
}

.d-none {
  justify-content: none;
}

.d-grid {
  justify-content: grid;
}

.d-table {
  justify-content: table;
}

.d-table-row {
  justify-content: table-row;
}

.d-table-cell {
  justify-content: table-cell;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.mt-2 {
  margin-top: 0.3125rem;
}

.mb-2 {
  margin-bottom: 0.3125rem;
}

.ml-2 {
  margin-left: 0.3125rem;
}

.mr-2 {
  margin-right: 0.3125rem;
}

.pt-2 {
  padding-top: 0.3125rem;
}

.pb-2 {
  padding-bottom: 0.3125rem;
}

.pl-2 {
  padding-left: 0.3125rem;
}

.pr-2 {
  padding-right: 0.3125rem;
}

.mt-4 {
  margin-top: 0.625rem;
}

.mb-4 {
  margin-bottom: 0.625rem;
}

.ml-4 {
  margin-left: 0.625rem;
}

.mr-4 {
  margin-right: 0.625rem;
}

.pt-4 {
  padding-top: 0.625rem;
}

.pb-4 {
  padding-bottom: 0.625rem;
}

.pl-4 {
  padding-left: 0.625rem;
}

.pr-4 {
  padding-right: 0.625rem;
}

.mt-6 {
  margin-top: 0.9375rem;
}

.mb-6 {
  margin-bottom: 0.9375rem;
}

.ml-6 {
  margin-left: 0.9375rem;
}

.mr-6 {
  margin-right: 0.9375rem;
}

.pt-6 {
  padding-top: 0.9375rem;
}

.pb-6 {
  padding-bottom: 0.9375rem;
}

.pl-6 {
  padding-left: 0.9375rem;
}

.pr-6 {
  padding-right: 0.9375rem;
}

.mt-8 {
  margin-top: 1.25rem;
}

.mb-8 {
  margin-bottom: 1.25rem;
}

.ml-8 {
  margin-left: 1.25rem;
}

.mr-8 {
  margin-right: 1.25rem;
}

.pt-8 {
  padding-top: 1.25rem;
}

.pb-8 {
  padding-bottom: 1.25rem;
}

.pl-8 {
  padding-left: 1.25rem;
}

.pr-8 {
  padding-right: 1.25rem;
}

.mt-10 {
  margin-top: 1.5625rem;
}

.mb-10 {
  margin-bottom: 1.5625rem;
}

.ml-10 {
  margin-left: 1.5625rem;
}

.mr-10 {
  margin-right: 1.5625rem;
}

.pt-10 {
  padding-top: 1.5625rem;
}

.pb-10 {
  padding-bottom: 1.5625rem;
}

.pl-10 {
  padding-left: 1.5625rem;
}

.pr-10 {
  padding-right: 1.5625rem;
}

.mt-12 {
  margin-top: 1.875rem;
}

.mb-12 {
  margin-bottom: 1.875rem;
}

.ml-12 {
  margin-left: 1.875rem;
}

.mr-12 {
  margin-right: 1.875rem;
}

.pt-12 {
  padding-top: 1.875rem;
}

.pb-12 {
  padding-bottom: 1.875rem;
}

.pl-12 {
  padding-left: 1.875rem;
}

.pr-12 {
  padding-right: 1.875rem;
}

.mt-14 {
  margin-top: 2.1875rem;
}

.mb-14 {
  margin-bottom: 2.1875rem;
}

.ml-14 {
  margin-left: 2.1875rem;
}

.mr-14 {
  margin-right: 2.1875rem;
}

.pt-14 {
  padding-top: 2.1875rem;
}

.pb-14 {
  padding-bottom: 2.1875rem;
}

.pl-14 {
  padding-left: 2.1875rem;
}

.pr-14 {
  padding-right: 2.1875rem;
}

.mt-16 {
  margin-top: 2.5rem;
}

.mb-16 {
  margin-bottom: 2.5rem;
}

.ml-16 {
  margin-left: 2.5rem;
}

.mr-16 {
  margin-right: 2.5rem;
}

.pt-16 {
  padding-top: 2.5rem;
}

.pb-16 {
  padding-bottom: 2.5rem;
}

.pl-16 {
  padding-left: 2.5rem;
}

.pr-16 {
  padding-right: 2.5rem;
}

.mt-18 {
  margin-top: 2.8125rem;
}

.mb-18 {
  margin-bottom: 2.8125rem;
}

.ml-18 {
  margin-left: 2.8125rem;
}

.mr-18 {
  margin-right: 2.8125rem;
}

.pt-18 {
  padding-top: 2.8125rem;
}

.pb-18 {
  padding-bottom: 2.8125rem;
}

.pl-18 {
  padding-left: 2.8125rem;
}

.pr-18 {
  padding-right: 2.8125rem;
}

.mt-20 {
  margin-top: 3.125rem;
}

.mb-20 {
  margin-bottom: 3.125rem;
}

.ml-20 {
  margin-left: 3.125rem;
}

.mr-20 {
  margin-right: 3.125rem;
}

.pt-20 {
  padding-top: 3.125rem;
}

.pb-20 {
  padding-bottom: 3.125rem;
}

.pl-20 {
  padding-left: 3.125rem;
}

.pr-20 {
  padding-right: 3.125rem;
}

.mt-22 {
  margin-top: 3.4375rem;
}

.mb-22 {
  margin-bottom: 3.4375rem;
}

.ml-22 {
  margin-left: 3.4375rem;
}

.mr-22 {
  margin-right: 3.4375rem;
}

.pt-22 {
  padding-top: 3.4375rem;
}

.pb-22 {
  padding-bottom: 3.4375rem;
}

.pl-22 {
  padding-left: 3.4375rem;
}

.pr-22 {
  padding-right: 3.4375rem;
}

.mt-24 {
  margin-top: 3.75rem;
}

.mb-24 {
  margin-bottom: 3.75rem;
}

.ml-24 {
  margin-left: 3.75rem;
}

.mr-24 {
  margin-right: 3.75rem;
}

.pt-24 {
  padding-top: 3.75rem;
}

.pb-24 {
  padding-bottom: 3.75rem;
}

.pl-24 {
  padding-left: 3.75rem;
}

.pr-24 {
  padding-right: 3.75rem;
}

.mt-26 {
  margin-top: 4.0625rem;
}

.mb-26 {
  margin-bottom: 4.0625rem;
}

.ml-26 {
  margin-left: 4.0625rem;
}

.mr-26 {
  margin-right: 4.0625rem;
}

.pt-26 {
  padding-top: 4.0625rem;
}

.pb-26 {
  padding-bottom: 4.0625rem;
}

.pl-26 {
  padding-left: 4.0625rem;
}

.pr-26 {
  padding-right: 4.0625rem;
}

.mt-28 {
  margin-top: 4.375rem;
}

.mb-28 {
  margin-bottom: 4.375rem;
}

.ml-28 {
  margin-left: 4.375rem;
}

.mr-28 {
  margin-right: 4.375rem;
}

.pt-28 {
  padding-top: 4.375rem;
}

.pb-28 {
  padding-bottom: 4.375rem;
}

.pl-28 {
  padding-left: 4.375rem;
}

.pr-28 {
  padding-right: 4.375rem;
}

.mt-30 {
  margin-top: 4.6875rem;
}

.mb-30 {
  margin-bottom: 4.6875rem;
}

.ml-30 {
  margin-left: 4.6875rem;
}

.mr-30 {
  margin-right: 4.6875rem;
}

.pt-30 {
  padding-top: 4.6875rem;
}

.pb-30 {
  padding-bottom: 4.6875rem;
}

.pl-30 {
  padding-left: 4.6875rem;
}

.pr-30 {
  padding-right: 4.6875rem;
}

.mt-32 {
  margin-top: 5rem;
}

.mb-32 {
  margin-bottom: 5rem;
}

.ml-32 {
  margin-left: 5rem;
}

.mr-32 {
  margin-right: 5rem;
}

.pt-32 {
  padding-top: 5rem;
}

.pb-32 {
  padding-bottom: 5rem;
}

.pl-32 {
  padding-left: 5rem;
}

.pr-32 {
  padding-right: 5rem;
}

.mt-34 {
  margin-top: 5.3125rem;
}

.mb-34 {
  margin-bottom: 5.3125rem;
}

.ml-34 {
  margin-left: 5.3125rem;
}

.mr-34 {
  margin-right: 5.3125rem;
}

.pt-34 {
  padding-top: 5.3125rem;
}

.pb-34 {
  padding-bottom: 5.3125rem;
}

.pl-34 {
  padding-left: 5.3125rem;
}

.pr-34 {
  padding-right: 5.3125rem;
}

.mt-36 {
  margin-top: 5.625rem;
}

.mb-36 {
  margin-bottom: 5.625rem;
}

.ml-36 {
  margin-left: 5.625rem;
}

.mr-36 {
  margin-right: 5.625rem;
}

.pt-36 {
  padding-top: 5.625rem;
}

.pb-36 {
  padding-bottom: 5.625rem;
}

.pl-36 {
  padding-left: 5.625rem;
}

.pr-36 {
  padding-right: 5.625rem;
}

.mt-38 {
  margin-top: 5.9375rem;
}

.mb-38 {
  margin-bottom: 5.9375rem;
}

.ml-38 {
  margin-left: 5.9375rem;
}

.mr-38 {
  margin-right: 5.9375rem;
}

.pt-38 {
  padding-top: 5.9375rem;
}

.pb-38 {
  padding-bottom: 5.9375rem;
}

.pl-38 {
  padding-left: 5.9375rem;
}

.pr-38 {
  padding-right: 5.9375rem;
}

.mt-40 {
  margin-top: 6.25rem;
}

.mb-40 {
  margin-bottom: 6.25rem;
}

.ml-40 {
  margin-left: 6.25rem;
}

.mr-40 {
  margin-right: 6.25rem;
}

.pt-40 {
  padding-top: 6.25rem;
}

.pb-40 {
  padding-bottom: 6.25rem;
}

.pl-40 {
  padding-left: 6.25rem;
}

.pr-40 {
  padding-right: 6.25rem;
}

.mt-42 {
  margin-top: 6.5625rem;
}

.mb-42 {
  margin-bottom: 6.5625rem;
}

.ml-42 {
  margin-left: 6.5625rem;
}

.mr-42 {
  margin-right: 6.5625rem;
}

.pt-42 {
  padding-top: 6.5625rem;
}

.pb-42 {
  padding-bottom: 6.5625rem;
}

.pl-42 {
  padding-left: 6.5625rem;
}

.pr-42 {
  padding-right: 6.5625rem;
}

.mt-44 {
  margin-top: 6.875rem;
}

.mb-44 {
  margin-bottom: 6.875rem;
}

.ml-44 {
  margin-left: 6.875rem;
}

.mr-44 {
  margin-right: 6.875rem;
}

.pt-44 {
  padding-top: 6.875rem;
}

.pb-44 {
  padding-bottom: 6.875rem;
}

.pl-44 {
  padding-left: 6.875rem;
}

.pr-44 {
  padding-right: 6.875rem;
}

.mt-46 {
  margin-top: 7.1875rem;
}

.mb-46 {
  margin-bottom: 7.1875rem;
}

.ml-46 {
  margin-left: 7.1875rem;
}

.mr-46 {
  margin-right: 7.1875rem;
}

.pt-46 {
  padding-top: 7.1875rem;
}

.pb-46 {
  padding-bottom: 7.1875rem;
}

.pl-46 {
  padding-left: 7.1875rem;
}

.pr-46 {
  padding-right: 7.1875rem;
}

.mt-48 {
  margin-top: 7.5rem;
}

.mb-48 {
  margin-bottom: 7.5rem;
}

.ml-48 {
  margin-left: 7.5rem;
}

.mr-48 {
  margin-right: 7.5rem;
}

.pt-48 {
  padding-top: 7.5rem;
}

.pb-48 {
  padding-bottom: 7.5rem;
}

.pl-48 {
  padding-left: 7.5rem;
}

.pr-48 {
  padding-right: 7.5rem;
}

.mt-50 {
  margin-top: 7.8125rem;
}

.mb-50 {
  margin-bottom: 7.8125rem;
}

.ml-50 {
  margin-left: 7.8125rem;
}

.mr-50 {
  margin-right: 7.8125rem;
}

.pt-50 {
  padding-top: 7.8125rem;
}

.pb-50 {
  padding-bottom: 7.8125rem;
}

.pl-50 {
  padding-left: 7.8125rem;
}

.pr-50 {
  padding-right: 7.8125rem;
}

.mt-52 {
  margin-top: 8.125rem;
}

.mb-52 {
  margin-bottom: 8.125rem;
}

.ml-52 {
  margin-left: 8.125rem;
}

.mr-52 {
  margin-right: 8.125rem;
}

.pt-52 {
  padding-top: 8.125rem;
}

.pb-52 {
  padding-bottom: 8.125rem;
}

.pl-52 {
  padding-left: 8.125rem;
}

.pr-52 {
  padding-right: 8.125rem;
}

.mt-54 {
  margin-top: 8.4375rem;
}

.mb-54 {
  margin-bottom: 8.4375rem;
}

.ml-54 {
  margin-left: 8.4375rem;
}

.mr-54 {
  margin-right: 8.4375rem;
}

.pt-54 {
  padding-top: 8.4375rem;
}

.pb-54 {
  padding-bottom: 8.4375rem;
}

.pl-54 {
  padding-left: 8.4375rem;
}

.pr-54 {
  padding-right: 8.4375rem;
}

.mt-56 {
  margin-top: 8.75rem;
}

.mb-56 {
  margin-bottom: 8.75rem;
}

.ml-56 {
  margin-left: 8.75rem;
}

.mr-56 {
  margin-right: 8.75rem;
}

.pt-56 {
  padding-top: 8.75rem;
}

.pb-56 {
  padding-bottom: 8.75rem;
}

.pl-56 {
  padding-left: 8.75rem;
}

.pr-56 {
  padding-right: 8.75rem;
}

.mt-58 {
  margin-top: 9.0625rem;
}

.mb-58 {
  margin-bottom: 9.0625rem;
}

.ml-58 {
  margin-left: 9.0625rem;
}

.mr-58 {
  margin-right: 9.0625rem;
}

.pt-58 {
  padding-top: 9.0625rem;
}

.pb-58 {
  padding-bottom: 9.0625rem;
}

.pl-58 {
  padding-left: 9.0625rem;
}

.pr-58 {
  padding-right: 9.0625rem;
}

.mt-60 {
  margin-top: 9.375rem;
}

.mb-60 {
  margin-bottom: 9.375rem;
}

.ml-60 {
  margin-left: 9.375rem;
}

.mr-60 {
  margin-right: 9.375rem;
}

.pt-60 {
  padding-top: 9.375rem;
}

.pb-60 {
  padding-bottom: 9.375rem;
}

.pl-60 {
  padding-left: 9.375rem;
}

.pr-60 {
  padding-right: 9.375rem;
}

.mt-62 {
  margin-top: 9.6875rem;
}

.mb-62 {
  margin-bottom: 9.6875rem;
}

.ml-62 {
  margin-left: 9.6875rem;
}

.mr-62 {
  margin-right: 9.6875rem;
}

.pt-62 {
  padding-top: 9.6875rem;
}

.pb-62 {
  padding-bottom: 9.6875rem;
}

.pl-62 {
  padding-left: 9.6875rem;
}

.pr-62 {
  padding-right: 9.6875rem;
}

.mt-64 {
  margin-top: 10rem;
}

.mb-64 {
  margin-bottom: 10rem;
}

.ml-64 {
  margin-left: 10rem;
}

.mr-64 {
  margin-right: 10rem;
}

.pt-64 {
  padding-top: 10rem;
}

.pb-64 {
  padding-bottom: 10rem;
}

.pl-64 {
  padding-left: 10rem;
}

.pr-64 {
  padding-right: 10rem;
}

.mt-66 {
  margin-top: 10.3125rem;
}

.mb-66 {
  margin-bottom: 10.3125rem;
}

.ml-66 {
  margin-left: 10.3125rem;
}

.mr-66 {
  margin-right: 10.3125rem;
}

.pt-66 {
  padding-top: 10.3125rem;
}

.pb-66 {
  padding-bottom: 10.3125rem;
}

.pl-66 {
  padding-left: 10.3125rem;
}

.pr-66 {
  padding-right: 10.3125rem;
}

.mt-68 {
  margin-top: 10.625rem;
}

.mb-68 {
  margin-bottom: 10.625rem;
}

.ml-68 {
  margin-left: 10.625rem;
}

.mr-68 {
  margin-right: 10.625rem;
}

.pt-68 {
  padding-top: 10.625rem;
}

.pb-68 {
  padding-bottom: 10.625rem;
}

.pl-68 {
  padding-left: 10.625rem;
}

.pr-68 {
  padding-right: 10.625rem;
}

.mt-70 {
  margin-top: 10.9375rem;
}

.mb-70 {
  margin-bottom: 10.9375rem;
}

.ml-70 {
  margin-left: 10.9375rem;
}

.mr-70 {
  margin-right: 10.9375rem;
}

.pt-70 {
  padding-top: 10.9375rem;
}

.pb-70 {
  padding-bottom: 10.9375rem;
}

.pl-70 {
  padding-left: 10.9375rem;
}

.pr-70 {
  padding-right: 10.9375rem;
}

.mt-72 {
  margin-top: 11.25rem;
}

.mb-72 {
  margin-bottom: 11.25rem;
}

.ml-72 {
  margin-left: 11.25rem;
}

.mr-72 {
  margin-right: 11.25rem;
}

.pt-72 {
  padding-top: 11.25rem;
}

.pb-72 {
  padding-bottom: 11.25rem;
}

.pl-72 {
  padding-left: 11.25rem;
}

.pr-72 {
  padding-right: 11.25rem;
}

.mt-74 {
  margin-top: 11.5625rem;
}

.mb-74 {
  margin-bottom: 11.5625rem;
}

.ml-74 {
  margin-left: 11.5625rem;
}

.mr-74 {
  margin-right: 11.5625rem;
}

.pt-74 {
  padding-top: 11.5625rem;
}

.pb-74 {
  padding-bottom: 11.5625rem;
}

.pl-74 {
  padding-left: 11.5625rem;
}

.pr-74 {
  padding-right: 11.5625rem;
}

.mt-76 {
  margin-top: 11.875rem;
}

.mb-76 {
  margin-bottom: 11.875rem;
}

.ml-76 {
  margin-left: 11.875rem;
}

.mr-76 {
  margin-right: 11.875rem;
}

.pt-76 {
  padding-top: 11.875rem;
}

.pb-76 {
  padding-bottom: 11.875rem;
}

.pl-76 {
  padding-left: 11.875rem;
}

.pr-76 {
  padding-right: 11.875rem;
}

.mt-78 {
  margin-top: 12.1875rem;
}

.mb-78 {
  margin-bottom: 12.1875rem;
}

.ml-78 {
  margin-left: 12.1875rem;
}

.mr-78 {
  margin-right: 12.1875rem;
}

.pt-78 {
  padding-top: 12.1875rem;
}

.pb-78 {
  padding-bottom: 12.1875rem;
}

.pl-78 {
  padding-left: 12.1875rem;
}

.pr-78 {
  padding-right: 12.1875rem;
}

.mt-80 {
  margin-top: 12.5rem;
}

.mb-80 {
  margin-bottom: 12.5rem;
}

.ml-80 {
  margin-left: 12.5rem;
}

.mr-80 {
  margin-right: 12.5rem;
}

.pt-80 {
  padding-top: 12.5rem;
}

.pb-80 {
  padding-bottom: 12.5rem;
}

.pl-80 {
  padding-left: 12.5rem;
}

.pr-80 {
  padding-right: 12.5rem;
}

.mt-82 {
  margin-top: 12.8125rem;
}

.mb-82 {
  margin-bottom: 12.8125rem;
}

.ml-82 {
  margin-left: 12.8125rem;
}

.mr-82 {
  margin-right: 12.8125rem;
}

.pt-82 {
  padding-top: 12.8125rem;
}

.pb-82 {
  padding-bottom: 12.8125rem;
}

.pl-82 {
  padding-left: 12.8125rem;
}

.pr-82 {
  padding-right: 12.8125rem;
}

.mt-84 {
  margin-top: 13.125rem;
}

.mb-84 {
  margin-bottom: 13.125rem;
}

.ml-84 {
  margin-left: 13.125rem;
}

.mr-84 {
  margin-right: 13.125rem;
}

.pt-84 {
  padding-top: 13.125rem;
}

.pb-84 {
  padding-bottom: 13.125rem;
}

.pl-84 {
  padding-left: 13.125rem;
}

.pr-84 {
  padding-right: 13.125rem;
}

.mt-86 {
  margin-top: 13.4375rem;
}

.mb-86 {
  margin-bottom: 13.4375rem;
}

.ml-86 {
  margin-left: 13.4375rem;
}

.mr-86 {
  margin-right: 13.4375rem;
}

.pt-86 {
  padding-top: 13.4375rem;
}

.pb-86 {
  padding-bottom: 13.4375rem;
}

.pl-86 {
  padding-left: 13.4375rem;
}

.pr-86 {
  padding-right: 13.4375rem;
}

.mt-88 {
  margin-top: 13.75rem;
}

.mb-88 {
  margin-bottom: 13.75rem;
}

.ml-88 {
  margin-left: 13.75rem;
}

.mr-88 {
  margin-right: 13.75rem;
}

.pt-88 {
  padding-top: 13.75rem;
}

.pb-88 {
  padding-bottom: 13.75rem;
}

.pl-88 {
  padding-left: 13.75rem;
}

.pr-88 {
  padding-right: 13.75rem;
}

.mt-90 {
  margin-top: 14.0625rem;
}

.mb-90 {
  margin-bottom: 14.0625rem;
}

.ml-90 {
  margin-left: 14.0625rem;
}

.mr-90 {
  margin-right: 14.0625rem;
}

.pt-90 {
  padding-top: 14.0625rem;
}

.pb-90 {
  padding-bottom: 14.0625rem;
}

.pl-90 {
  padding-left: 14.0625rem;
}

.pr-90 {
  padding-right: 14.0625rem;
}

.mt-92 {
  margin-top: 14.375rem;
}

.mb-92 {
  margin-bottom: 14.375rem;
}

.ml-92 {
  margin-left: 14.375rem;
}

.mr-92 {
  margin-right: 14.375rem;
}

.pt-92 {
  padding-top: 14.375rem;
}

.pb-92 {
  padding-bottom: 14.375rem;
}

.pl-92 {
  padding-left: 14.375rem;
}

.pr-92 {
  padding-right: 14.375rem;
}

.mt-94 {
  margin-top: 14.6875rem;
}

.mb-94 {
  margin-bottom: 14.6875rem;
}

.ml-94 {
  margin-left: 14.6875rem;
}

.mr-94 {
  margin-right: 14.6875rem;
}

.pt-94 {
  padding-top: 14.6875rem;
}

.pb-94 {
  padding-bottom: 14.6875rem;
}

.pl-94 {
  padding-left: 14.6875rem;
}

.pr-94 {
  padding-right: 14.6875rem;
}

.mt-96 {
  margin-top: 15rem;
}

.mb-96 {
  margin-bottom: 15rem;
}

.ml-96 {
  margin-left: 15rem;
}

.mr-96 {
  margin-right: 15rem;
}

.pt-96 {
  padding-top: 15rem;
}

.pb-96 {
  padding-bottom: 15rem;
}

.pl-96 {
  padding-left: 15rem;
}

.pr-96 {
  padding-right: 15rem;
}

.mt-98 {
  margin-top: 15.3125rem;
}

.mb-98 {
  margin-bottom: 15.3125rem;
}

.ml-98 {
  margin-left: 15.3125rem;
}

.mr-98 {
  margin-right: 15.3125rem;
}

.pt-98 {
  padding-top: 15.3125rem;
}

.pb-98 {
  padding-bottom: 15.3125rem;
}

.pl-98 {
  padding-left: 15.3125rem;
}

.pr-98 {
  padding-right: 15.3125rem;
}

.mt-100 {
  margin-top: 15.625rem;
}

.mb-100 {
  margin-bottom: 15.625rem;
}

.ml-100 {
  margin-left: 15.625rem;
}

.mr-100 {
  margin-right: 15.625rem;
}

.pt-100 {
  padding-top: 15.625rem;
}

.pb-100 {
  padding-bottom: 15.625rem;
}

.pl-100 {
  padding-left: 15.625rem;
}

.pr-100 {
  padding-right: 15.625rem;
}

.mt-102 {
  margin-top: 15.9375rem;
}

.mb-102 {
  margin-bottom: 15.9375rem;
}

.ml-102 {
  margin-left: 15.9375rem;
}

.mr-102 {
  margin-right: 15.9375rem;
}

.pt-102 {
  padding-top: 15.9375rem;
}

.pb-102 {
  padding-bottom: 15.9375rem;
}

.pl-102 {
  padding-left: 15.9375rem;
}

.pr-102 {
  padding-right: 15.9375rem;
}

.mt-104 {
  margin-top: 16.25rem;
}

.mb-104 {
  margin-bottom: 16.25rem;
}

.ml-104 {
  margin-left: 16.25rem;
}

.mr-104 {
  margin-right: 16.25rem;
}

.pt-104 {
  padding-top: 16.25rem;
}

.pb-104 {
  padding-bottom: 16.25rem;
}

.pl-104 {
  padding-left: 16.25rem;
}

.pr-104 {
  padding-right: 16.25rem;
}

.mt-106 {
  margin-top: 16.5625rem;
}

.mb-106 {
  margin-bottom: 16.5625rem;
}

.ml-106 {
  margin-left: 16.5625rem;
}

.mr-106 {
  margin-right: 16.5625rem;
}

.pt-106 {
  padding-top: 16.5625rem;
}

.pb-106 {
  padding-bottom: 16.5625rem;
}

.pl-106 {
  padding-left: 16.5625rem;
}

.pr-106 {
  padding-right: 16.5625rem;
}

.m-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.p-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-2 {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.p-2 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.m-4 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.p-4 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.m-6 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.p-6 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.m-8 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.p-8 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.m-10 {
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
}

.p-10 {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.m-12 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.p-12 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.m-14 {
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem;
}

.p-14 {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}

.m-16 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.p-16 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.m-18 {
  margin-top: 2.8125rem;
  margin-bottom: 2.8125rem;
}

.p-18 {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
}

.m-20 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.p-20 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.m-22 {
  margin-top: 3.4375rem;
  margin-bottom: 3.4375rem;
}

.p-22 {
  padding-top: 3.4375rem;
  padding-bottom: 3.4375rem;
}

.m-24 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.p-24 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.m-26 {
  margin-top: 4.0625rem;
  margin-bottom: 4.0625rem;
}

.p-26 {
  padding-top: 4.0625rem;
  padding-bottom: 4.0625rem;
}

.m-28 {
  margin-top: 4.375rem;
  margin-bottom: 4.375rem;
}

.p-28 {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.m-30 {
  margin-top: 4.6875rem;
  margin-bottom: 4.6875rem;
}

.p-30 {
  padding-top: 4.6875rem;
  padding-bottom: 4.6875rem;
}

.m-32 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-32 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.m-34 {
  margin-top: 5.3125rem;
  margin-bottom: 5.3125rem;
}

.p-34 {
  padding-top: 5.3125rem;
  padding-bottom: 5.3125rem;
}

.m-36 {
  margin-top: 5.625rem;
  margin-bottom: 5.625rem;
}

.p-36 {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

.m-38 {
  margin-top: 5.9375rem;
  margin-bottom: 5.9375rem;
}

.p-38 {
  padding-top: 5.9375rem;
  padding-bottom: 5.9375rem;
}

.m-40 {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.p-40 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.m-42 {
  margin-top: 6.5625rem;
  margin-bottom: 6.5625rem;
}

.p-42 {
  padding-top: 6.5625rem;
  padding-bottom: 6.5625rem;
}

.m-44 {
  margin-top: 6.875rem;
  margin-bottom: 6.875rem;
}

.p-44 {
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
}

.m-46 {
  margin-top: 7.1875rem;
  margin-bottom: 7.1875rem;
}

.p-46 {
  padding-top: 7.1875rem;
  padding-bottom: 7.1875rem;
}

.m-48 {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.p-48 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.m-50 {
  margin-top: 7.8125rem;
  margin-bottom: 7.8125rem;
}

.p-50 {
  padding-top: 7.8125rem;
  padding-bottom: 7.8125rem;
}

.m-52 {
  margin-top: 8.125rem;
  margin-bottom: 8.125rem;
}

.p-52 {
  padding-top: 8.125rem;
  padding-bottom: 8.125rem;
}

.m-54 {
  margin-top: 8.4375rem;
  margin-bottom: 8.4375rem;
}

.p-54 {
  padding-top: 8.4375rem;
  padding-bottom: 8.4375rem;
}

.m-56 {
  margin-top: 8.75rem;
  margin-bottom: 8.75rem;
}

.p-56 {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.m-58 {
  margin-top: 9.0625rem;
  margin-bottom: 9.0625rem;
}

.p-58 {
  padding-top: 9.0625rem;
  padding-bottom: 9.0625rem;
}

.m-60 {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}

.p-60 {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}

.m-62 {
  margin-top: 9.6875rem;
  margin-bottom: 9.6875rem;
}

.p-62 {
  padding-top: 9.6875rem;
  padding-bottom: 9.6875rem;
}

.m-64 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.p-64 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.m-66 {
  margin-top: 10.3125rem;
  margin-bottom: 10.3125rem;
}

.p-66 {
  padding-top: 10.3125rem;
  padding-bottom: 10.3125rem;
}

.m-68 {
  margin-top: 10.625rem;
  margin-bottom: 10.625rem;
}

.p-68 {
  padding-top: 10.625rem;
  padding-bottom: 10.625rem;
}

.m-70 {
  margin-top: 10.9375rem;
  margin-bottom: 10.9375rem;
}

.p-70 {
  padding-top: 10.9375rem;
  padding-bottom: 10.9375rem;
}

.m-72 {
  margin-top: 11.25rem;
  margin-bottom: 11.25rem;
}

.p-72 {
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
}

.m-74 {
  margin-top: 11.5625rem;
  margin-bottom: 11.5625rem;
}

.p-74 {
  padding-top: 11.5625rem;
  padding-bottom: 11.5625rem;
}

.m-76 {
  margin-top: 11.875rem;
  margin-bottom: 11.875rem;
}

.p-76 {
  padding-top: 11.875rem;
  padding-bottom: 11.875rem;
}

.m-78 {
  margin-top: 12.1875rem;
  margin-bottom: 12.1875rem;
}

.p-78 {
  padding-top: 12.1875rem;
  padding-bottom: 12.1875rem;
}

.m-80 {
  margin-top: 12.5rem;
  margin-bottom: 12.5rem;
}

.p-80 {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}

.m-82 {
  margin-top: 12.8125rem;
  margin-bottom: 12.8125rem;
}

.p-82 {
  padding-top: 12.8125rem;
  padding-bottom: 12.8125rem;
}

.m-84 {
  margin-top: 13.125rem;
  margin-bottom: 13.125rem;
}

.p-84 {
  padding-top: 13.125rem;
  padding-bottom: 13.125rem;
}

.m-86 {
  margin-top: 13.4375rem;
  margin-bottom: 13.4375rem;
}

.p-86 {
  padding-top: 13.4375rem;
  padding-bottom: 13.4375rem;
}

.m-88 {
  margin-top: 13.75rem;
  margin-bottom: 13.75rem;
}

.p-88 {
  padding-top: 13.75rem;
  padding-bottom: 13.75rem;
}

.m-90 {
  margin-top: 14.0625rem;
  margin-bottom: 14.0625rem;
}

.p-90 {
  padding-top: 14.0625rem;
  padding-bottom: 14.0625rem;
}

.m-92 {
  margin-top: 14.375rem;
  margin-bottom: 14.375rem;
}

.p-92 {
  padding-top: 14.375rem;
  padding-bottom: 14.375rem;
}

.m-94 {
  margin-top: 14.6875rem;
  margin-bottom: 14.6875rem;
}

.p-94 {
  padding-top: 14.6875rem;
  padding-bottom: 14.6875rem;
}

.m-96 {
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.p-96 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.m-98 {
  margin-top: 15.3125rem;
  margin-bottom: 15.3125rem;
}

.p-98 {
  padding-top: 15.3125rem;
  padding-bottom: 15.3125rem;
}

.m-100 {
  margin-top: 15.625rem;
  margin-bottom: 15.625rem;
}

.p-100 {
  padding-top: 15.625rem;
  padding-bottom: 15.625rem;
}

.m-102 {
  margin-top: 15.9375rem;
  margin-bottom: 15.9375rem;
}

.p-102 {
  padding-top: 15.9375rem;
  padding-bottom: 15.9375rem;
}

.m-104 {
  margin-top: 16.25rem;
  margin-bottom: 16.25rem;
}

.p-104 {
  padding-top: 16.25rem;
  padding-bottom: 16.25rem;
}

.m-106 {
  margin-top: 16.5625rem;
  margin-bottom: 16.5625rem;
}

.p-106 {
  padding-top: 16.5625rem;
  padding-bottom: 16.5625rem;
}

.top-0 {
  top: 0%;
}

.bottom-0 {
  bottom: 0%;
}

.left-0 {
  left: 0%;
}

.right-0 {
  right: 0%;
}

.top-2 {
  top: 5%;
}

.bottom-2 {
  bottom: 5%;
}

.left-2 {
  left: 5%;
}

.right-2 {
  right: 5%;
}

.top-4 {
  top: 10%;
}

.bottom-4 {
  bottom: 10%;
}

.left-4 {
  left: 10%;
}

.right-4 {
  right: 10%;
}

.top-6 {
  top: 15%;
}

.bottom-6 {
  bottom: 15%;
}

.left-6 {
  left: 15%;
}

.right-6 {
  right: 15%;
}

.top-8 {
  top: 20%;
}

.bottom-8 {
  bottom: 20%;
}

.left-8 {
  left: 20%;
}

.right-8 {
  right: 20%;
}

.top-10 {
  top: 25%;
}

.bottom-10 {
  bottom: 25%;
}

.left-10 {
  left: 25%;
}

.right-10 {
  right: 25%;
}

.top-12 {
  top: 30%;
}

.bottom-12 {
  bottom: 30%;
}

.left-12 {
  left: 30%;
}

.right-12 {
  right: 30%;
}

.top-14 {
  top: 35%;
}

.bottom-14 {
  bottom: 35%;
}

.left-14 {
  left: 35%;
}

.right-14 {
  right: 35%;
}

.top-16 {
  top: 40%;
}

.bottom-16 {
  bottom: 40%;
}

.left-16 {
  left: 40%;
}

.right-16 {
  right: 40%;
}

.top-18 {
  top: 45%;
}

.bottom-18 {
  bottom: 45%;
}

.left-18 {
  left: 45%;
}

.right-18 {
  right: 45%;
}

.top-20 {
  top: 50%;
}

.bottom-20 {
  bottom: 50%;
}

.left-20 {
  left: 50%;
}

.right-20 {
  right: 50%;
}

.top-22 {
  top: 55%;
}

.bottom-22 {
  bottom: 55%;
}

.left-22 {
  left: 55%;
}

.right-22 {
  right: 55%;
}

.top-24 {
  top: 60%;
}

.bottom-24 {
  bottom: 60%;
}

.left-24 {
  left: 60%;
}

.right-24 {
  right: 60%;
}

.top-26 {
  top: 65%;
}

.bottom-26 {
  bottom: 65%;
}

.left-26 {
  left: 65%;
}

.right-26 {
  right: 65%;
}

.top-28 {
  top: 70%;
}

.bottom-28 {
  bottom: 70%;
}

.left-28 {
  left: 70%;
}

.right-28 {
  right: 70%;
}

.top-30 {
  top: 75%;
}

.bottom-30 {
  bottom: 75%;
}

.left-30 {
  left: 75%;
}

.right-30 {
  right: 75%;
}

.top-32 {
  top: 80%;
}

.bottom-32 {
  bottom: 80%;
}

.left-32 {
  left: 80%;
}

.right-32 {
  right: 80%;
}

.top-34 {
  top: 85%;
}

.bottom-34 {
  bottom: 85%;
}

.left-34 {
  left: 85%;
}

.right-34 {
  right: 85%;
}

.top-36 {
  top: 90%;
}

.bottom-36 {
  bottom: 90%;
}

.left-36 {
  left: 90%;
}

.right-36 {
  right: 90%;
}

.top-38 {
  top: 95%;
}

.bottom-38 {
  bottom: 95%;
}

.left-38 {
  left: 95%;
}

.right-38 {
  right: 95%;
}

.top-40 {
  top: 100%;
}

.bottom-40 {
  bottom: 100%;
}

.left-40 {
  left: 100%;
}

.right-40 {
  right: 100%;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 1px;
}

.gap-2 {
  gap: 2px;
}

.gap-3 {
  gap: 3px;
}

.gap-4 {
  gap: 4px;
}

.gap-5 {
  gap: 5px;
}

.gap-6 {
  gap: 6px;
}

.gap-7 {
  gap: 7px;
}

.gap-8 {
  gap: 8px;
}

.gap-9 {
  gap: 9px;
}

.gap-10 {
  gap: 10px;
}

.gap-11 {
  gap: 11px;
}

.gap-12 {
  gap: 12px;
}

.gap-13 {
  gap: 13px;
}

.gap-14 {
  gap: 14px;
}

.gap-15 {
  gap: 15px;
}

.gap-16 {
  gap: 16px;
}

.gap-17 {
  gap: 17px;
}

.gap-18 {
  gap: 18px;
}

.gap-19 {
  gap: 19px;
}

.gap-20 {
  gap: 20px;
}

.gap-21 {
  gap: 21px;
}

.gap-22 {
  gap: 22px;
}

.gap-23 {
  gap: 23px;
}

.gap-24 {
  gap: 24px;
}

.gap-25 {
  gap: 25px;
}

.gap-26 {
  gap: 26px;
}

.gap-27 {
  gap: 27px;
}

.gap-28 {
  gap: 28px;
}

.gap-29 {
  gap: 29px;
}

.gap-30 {
  gap: 30px;
}

.gap-31 {
  gap: 31px;
}

.gap-32 {
  gap: 32px;
}

.gap-33 {
  gap: 33px;
}

.gap-34 {
  gap: 34px;
}

.gap-35 {
  gap: 35px;
}

.gap-36 {
  gap: 36px;
}

.gap-37 {
  gap: 37px;
}

.gap-38 {
  gap: 38px;
}

.gap-39 {
  gap: 39px;
}

.gap-40 {
  gap: 40px;
}

.gap-41 {
  gap: 41px;
}

.gap-42 {
  gap: 42px;
}

.gap-43 {
  gap: 43px;
}

.gap-44 {
  gap: 44px;
}

.gap-45 {
  gap: 45px;
}

.gap-46 {
  gap: 46px;
}

.gap-47 {
  gap: 47px;
}

.gap-48 {
  gap: 48px;
}

.gap-49 {
  gap: 49px;
}

.gap-50 {
  gap: 50px;
}

.w-1 {
  width: 25%;
}

.w-2 {
  width: 50%;
}

.w-3 {
  width: 75%;
}

.w-4 {
  width: 100%;
}

.h-1 {
  height: 25%;
}

.h-2 {
  height: 50%;
}

.h-3 {
  height: 75%;
}

.h-4 {
  height: 100%;
}

.max-w-1 {
  max-width: 25%;
}

.max-w-2 {
  max-width: 50%;
}

.max-w-3 {
  max-width: 75%;
}

.max-w-4 {
  max-width: 100%;
}

.max-h-1 {
  max-height: 25%;
}

.max-h-2 {
  max-height: 50%;
}

.max-h-3 {
  max-height: 75%;
}

.max-h-4 {
  max-height: 100%;
}

.min-w-1 {
  min-width: 25%;
}

.min-w-2 {
  min-width: 50%;
}

.min-w-3 {
  min-width: 75%;
}

.min-w-4 {
  min-width: 100%;
}

.min-h-1 {
  min-height: 25%;
}

.min-h-2 {
  min-height: 50%;
}

.min-h-3 {
  min-height: 75%;
}

.min-h-4 {
  min-height: 100%;
}/*# sourceMappingURL=em.css.map */